<div class="container">
  <div class="contains">
    <div class="new-ui-container">
      <div class="table-cell">
    <div class="text-center">
      <div>
        <h1>WELCOME..!</h1>
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci amet, distinctio eligendi error
        in molestias nisi nulla porro quo tempora, tempore veniam. Ad aspernatur ex ipsam libero possimus, rerum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci exercitationem facere minus molestiae r
        erum temporibus velit? Consequuntur expedita, recusandae? Ex, magni minus natus omnis perferendis quod tempora ut?
      </div>
      <div class="pad-10">
        <img src="assets/image.jpg" alt="image" width="40%">
      </div>

      <div class="pad-10">
        <p style="font-size: 16px">Don't you have an account? <a href="/register"> Sign Up</a></p>
        <div>
          <button routerLink="/login" class="btn btn-primary btn-style">LOGIN</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

